@import "../utils/mixins";
@import "../utils/variables";
@import "../utils/functions";
.background {
  position: relative;
  &__content {
    @include flexbox(center, null, column, 2.5rem);
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__header {
    width: 100%;
    @include flexbox(center, space-between, null, null);
    h1 {
      color: theme-color($light-theme-colors, "background");
    }
    img {
      cursor: pointer;
    }
  }
  &__input {
    width: 100%;
    input {
      width: 100%;
    }
  }
}
