@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease all;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: "Figtree", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: var(--yellow);
  color: var(--gray-950);
  font-weight: 800;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.container {
  max-width: 23.75rem;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  box-shadow: 15px 16px 16px 3px rgba(0, 0, 0, 0.75);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  color: var(--gray-950);
}

.header span {
  font-size: 0.875rem;
  color: var(--gray-950);
}

h2 {
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--gray-950);
}

h2:hover {
  color: var(--yellow);
}

.image img {
  border-radius: 0.5rem;
}

.bottom {
  font-size: 0.875rem;
}

.bottom p {
  color: var(--gray-500);
}

.bottom .profile {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.bottom .profile span {
  font-weight: 800;
  color: var(--gray-950);
}

.bottom img {
  margin-top: 0.5rem;
  max-width: 40px;
}

.attribution {
  font-size: 0.875rem;
}

#my-link {
  background: linear-gradient(45deg, #eb2632, #240747);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}
