@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  background-color: var(--slate300);
  padding: 0.75rem;
}

img {
  display: flex;
  width: 100%;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.container {
  max-width: 23.75rem;
  width: 100%;
  padding: 1rem;
  border-radius: 1.25rem;
  background-color: var(--white);
  text-align: center;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

h2 {
  font-weight: 700;
  color: var(--slate900);
}
p {
  color: var(--slate500);
  margin: 1rem 0;
}

.attribution {
  font-family: var(--font2);
  padding: 1rem 0;
  font-size: 0.875rem;
  text-align: center;
  color: var(--stone-900);
}

#my-link {
  background: linear-gradient(135deg, #1e3c72, #2a5298, #6a3093, #a044ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}
