@import "../utils/variables";
@import "../utils/functions";

* {
  margin: $reset;
  padding: $reset;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  border: $reset;
  outline: $reset;
  background: transparent;
  line-height: 1.8;
  padding: 0.75rem 1.25rem;
  border-radius: $border-radius-primary;
  &.dark {
    background-color: theme-color(
      $dark-theme-colors,
      "very-dark-desaturated-blue"
    );
    color: theme-color($dark-theme-colors, "background");
  }
  &.light {
    background-color: theme-color($light-theme-colors, "background");
  }
}

img {
  width: 100%;
  display: flex;
}
