@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease all;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-900);
}

img {
  max-width: 80px;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.container {
  padding: 1.5rem;
  background-color: var(--grey-700);
  border-radius: 1.25rem;
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header {
  text-align: center;
}

.header h1 {
  color: var(--white);
}

.header h3 {
  color: var(--green);
  margin: 0.5rem 0;
  font-size: 1rem;
}

.title {
  font-size: 0.875rem;
  color: var(--white);
}

.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.social-buttons a {
  background-color: var(--grey-800);
  width: 100%;
  text-align: center;
  padding: 0.75rem 0;
  color: var(--white);
  border-radius: 0.5rem;
}

.social-buttons a:hover {
  background-color: var(--green);
  color: var(--grey-900);
}

.attribution {
  font-size: 14px;
}

#my-link {
  background: linear-gradient(45deg, var(--green), var(--white));

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}
